always-auth=true
package-manager-strict=false
# shamefully-hoist=true
# hoist-pattern=[]
# hoist-pattern[]=!*babel*
# public-hoist-pattern[]=*
# public-hoist-pattern[]=!expo-router
node-linker=hoisted