@font-face {
  font-family: 'material-community';
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf');
}
@font-face {
  font-family: MaterialCommunityIcons;
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf');
}
@font-face {
  font-family: MaterialIcons;
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf');
}
@font-face {
  font-family: 'material';
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf');
}
@font-face {
  font-family: 'feather';
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/Feather.ttf');
}
@font-face {
  font-family: Feather;
  src: url('../../../../node_modules/react-native-vector-icons/Fonts/Feather.ttf');
}


html, body {
  margin: 0;
  padding: 0;
}