{
    "presets": ["next/babel"],
    "plugins": [
        [
            "react-native-unistyles/plugin",
            { "autoProcessRoot": "src", "autoProcessPaths": "packages/molecules/src" }
        ]
    ]
}
